@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700|IBM+Plex+Serif:400,400i,700,700i&display=swap');
:root {
    /* Vanilla color vars */
    --color-background: #FAFAFA;
    --color-foreground: #212121;
    --color-link: teal;

    /* Get going */
    font-family: "Inter", sans-serif;
    font-size: 16px;
    background: var(--color-background);
    color: var(--color-foreground);
    letter-spacing: -0.011em;
}



@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #212121;
        --color-foreground: #FAFAFA;
        --color-link: teal;
    }
}





body {
    min-height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

main {
	font-family: 'IBM Plex', sans-serif;
    text-align: center;
    border-radius: 8px;
}

main > header {
    padding: 1em 0;
    border-bottom: 1px solid #424242;
}

main > header h1 {

	
    font-size: 2em;
}

main > p {
	font-size: 28px;
    padding: 0 18px;

}

p > a {
	color: teal;
	text-decoration: none;

}

footer > a {
  text-decoration: none;
  font-size: 24px;
  color: black;
  padding: 10px;
}

footer > p {
	font-size: 0.8em;
	padding: 0 18px;
}








