
@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700|IBM+Plex+Serif:400,400i,700,700i&display=swap');

:root {
    /* Vanilla color vars */
    --color-background: #FAFAFA;
    --color-foreground: #212121;
    --color-link: teal;

    /* Get going */
    font-family: "Inter", sans-serif;
    font-size: 16px;
    background: var(--color-background);
    color: var(--color-foreground);
    letter-spacing: -0.011em;
}

body {
    margin: 0;
}

/* Center container */

.container {
    width: 75%;
    min-width: 300px;
    margin: auto;
}

/* Links */

a {
    color: var(--color-link);
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0.5em 0;
}

h1 { font-size: 1.5em;    }
h2 { font-size: 1.75em; }
h3 { font-size: 1.5em;  }
h4 { font-size: 1.25em; }
h5 { font-size: 1em;    }
h6 { font-size: 0.8em;  }

/* Code */

code {
    font-family: "IBM Plex Mono", monospace;
    font-size: 0.8em;
}

pre {
    font-family: "IBM Plex Mono", monospace;
    font-size: 13px;
    background: var(--color-background);
    color: var(--color-foreground);
    padding: 8px;
    border: 1px solid #424242;
    border-radius: 4px;
}

/* Quotes */

blockquote {
    font-family: "IBM Plex Serif", serif;
    margin: 0.25em 0;
    border-left: 2px solid;
    padding: 0.75em;
}

blockquote h1,
blockquote h2,
blockquote h3,
blockquote h4,
blockquote h5,
blockquote h6 {
    text-transform: unset;
}

/* Table */

table {
    border: 1px solid;
    width: 100%;
}

/* Navigation bar */

body > nav {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0;
    border-bottom: 1px solid #616161;
    display: block;
}

body > nav a,
body > nav span {
    display: inline-block;
    font-size: 1rem;
    padding: 8px;
    text-decoration: none !important;
}

body > nav a {
    font-style: normal;
}

/* Image: avatar */

.img-avatar {
    border-radius: 50%;
    margin: 2em 0 1em;
}

/* Light mode (keep dark defaults) */

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #212121;
        --color-foreground: #FAFAFA;
        --color-link: teal;
    }
}

