

body {
    min-height: 50vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

main {
	font-family: 'IBM Plex', sans-serif;
    text-align: center;
    border-radius: 8px;
}

main > header {
    padding: 1em 0;
    border-bottom: 1px solid #424242;
}

main > header h1 {

	
    font-size: 2em;
}

main > p {
	font-size: 28px;
    padding: 0 18px;

}

p > a {
	color: teal;
	text-decoration: none;

}

footer > a {
  text-decoration: none;
  font-size: 24px;
  color: black;
  padding: 8px;
}

footer > p {
	font-size: 0.8em;
	padding: 0 18px;
}







