

body {
    min-height: 50vh;

    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

main {

    text-align: center;
    border-radius: 8px;
}

main > header {
    padding: 1em 0;
    border-bottom: 1px solid #424242;


}

main > header h1 {

	font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2em;
}

main > p {
	font-family: 'IBM Plex', serif;
    padding: 0 18px;

}

p > a {
	font-family: 'IBM Plex', serif;
	color: teal;
	text-decoration: none;

}

footer > p > a {
  text-decoration: none;
  font-size: 24px;
  color: black;
  padding: 8px;
}

