:root {
    --color0: #282828;
    --color1: #cc241d;
    --color2: #98971a;
    --color3: #d79921;
    --color4: #FBF6D9;
    --color5: #b16286;
    --color6: #689d6a;
    --color7: #a89984;
    --color8: #928374;
    --color9: #fb4934;
    --color10: #b8bb26;
    --color11: #fabd2f;
    --color12: #83a598;
    --color13: #d3869b;
    --color14: #8ec07c;
    --color15: #ebdbb2;
    --color256: #0d0f1a;
    --color257: #ebdbb2;
}
li img {
    height: 1.25em;
}
h1 img {
    height: 1em;
}
h2 img {
    height: 1em;
}
h3 {
    color: var(--color1);
}
h3 img {
    height: 1em;
}

html {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
    font-family: helvetica, sans-serif;
}




body {

    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    background: var(--color256);
        padding: 15px;
    /*
    using different ways of shaddows to work in other browsers
    as some might be using IE still for some reason
    */
    -webkit-box-shadow: 0px 0px 13px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 13px 6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 13px 6px rgba(0, 0, 0, 0.75);
    color: var(--color15);
    border-radius: 5px;
    margin-top: 6em;
    border: solid 1px;
}
a {
    color: var(--color6);
    text-decoration: none;
}
a:hover {
    color: var(--color12);
}

a:hover img {
    background: rgba(0, 0, 0, 0);
    transition: .5s;
    transform: scale(2, 2);
}

h1 {
    color: var(--color4);
    font-weight: Bold;
    text-shadow: -1px 3px 3px rgba(0, 0, 0, 0.68);
    text-align: center;
    margin-bottom: 1em
}

h2 {
    color: var(--color3);
    font-weight: normal;
}


#cat {
    /*'float: center' does nothing btw. and cat should be an class, as its used so many times in the html*/
    display: inline;
}

#links {
    font-size: large;
    text-align: center;
    margin: auto;
    max-width: 600px;
    background-color: var(--color256);
    padding: 5px;
    border-radius: 10px;
    /* margin-bottom: 6em */
}

#links img {
    height: 1.25em;
}

dt {
    margin-top: 2em;
}
dt img {
    height: 1em;
}

code {
    color: var(--color2);
    overflow-x: auto;
}

h3 {
    margin-top: 3em;
}

pre {
    margin: auto;
    margin-top: 3em;
    background: var(--color256);
    border: 1px solid var(--color8);
    border-radius: 4px;
    padding: 5px;
    display: block;
    max-width: 900px;
}





